<!-- A landing page for the portfolio. It engage users to know more about me -->

<div class="landing-page">
  <h1>Welcome to my portfolio!</h1>
  <img src="path/to/your/image.jpg" alt="My Picture">
  <p>Hi, I'm [Your Name]. I'm a [Your Profession] with [X] years of experience in [Your Field]. I'm passionate about [Your Interests] and have worked on various projects in [Your Field].</p>
  <p>On this website, you'll find more information about my career, skills, and projects. Feel free to explore and get to know me better!</p>
</div>


<section id="about">
  <h2>About Me</h2>
  <p>Write a brief introduction about yourself here.</p>
</section>

<div class="landing-page">
  <h1>Welcome to my portfolio!</h1>
  <img src="path/to/your/image.jpg" alt="My Picture">
  <p>Hi, I'm [Your Name]. I'm a [Your Profession] with [X] years of experience in [Your Field]. I'm passionate about [Your Interests] and have worked on various projects in [Your Field].</p>
  <p>On this website, you'll find more information about my career, skills, and projects. Feel free to explore and get to know me better!</p>
</div>


<section id="about">
  <h2>About Me</h2>
  <p>Write a brief introduction about yourself here.</p>
</section>


<div class="landing-page">
  <h1>Welcome to my portfolio!</h1>
  <img src="path/to/your/image.jpg" alt="My Picture">
  <p>Hi, I'm [Your Name]. I'm a [Your Profession] with [X] years of experience in [Your Field]. I'm passionate about [Your Interests] and have worked on various projects in [Your Field].</p>
  <p>On this website, you'll find more information about my career, skills, and projects. Feel free to explore and get to know me better!</p>
</div>


<section id="about">
  <h2>About Me</h2>
  <p>Write a brief introduction about yourself here.</p>
</section>
